#macro (contentSubTypesCheckboxes $name $idString)
    <div class="content-subtypes">
        <div class="checkbox">
            <input type="checkbox" name="$name" value="comment" id="${idString}-1"  checked="checked" >
            <label for="${idString}-1">$action.getText("list.element.comment")</label>
        </div>
        <div class="checkbox">
            <input type="checkbox" name="$name" value="attachment" id="${idString}-2"  checked="checked" >
            <label for="${idString}-2">$action.getText("list.element.attachment")</label>
        </div>
    </div>
#end

<html>
<head>
    <title>$action.getActionName($action.getClass().getName())</title>
    #requireResource("confluence.web.resources:rss-feed-builder")

</head>

#applyDecorator("root")
#decoratorParam("context" "global")
#decoratorParam("mode" "rss")
#decoratorParam("helper" $helper)
$action.getText("rss.feed.builder.help", [$docBean.getLink('help.subscribing.to.RSS.feeds.within.confluence')])

#applyDecorator("form-aui")
    #decoratorParam("formName" "createlist")
    #decoratorParam("submitAction"  "doconfigurerssfeed.action")
    #decoratorParam("editMode" true)
    #decoratorParam("formId" "build-rss-form")
    #decoratorParam("method" "GET")
    #decoratorParam("formStyle" "aui-legacy-forms")

    <fieldset class="group">
        <legend id="content-types-legend"><span>$action.getText("label.types")</span></legend>
        <div class="checkbox content-types">
            <input type="checkbox" name="types" value="page" id="types1-1"  checked="checked" />
            <label for="types1-1">$action.getText("list.element.page")</label>
            #contentSubTypesCheckboxes("pageSubTypes" "sub-types1")
            <input type="checkbox" name="types" value="blogpost" id="types1-2"  checked="checked" />
            <label for="types1-2">$action.getText("list.element.blogpost")</label>
            #contentSubTypesCheckboxes("blogpostSubTypes", "sub-types2")
            #foreach ($contentType in $action.customContentTypes)
                #set( $typeid = $foreach.counter + 3)
                <input type="checkbox" name="types" value="$contentType.identifier" id="types1-${typeid}" checked="checked"/>
                <label for="types1-${typeid}">$i18n.getText($contentType.i18nKey)</label><div class="content-subtypes"></div>
            #end
            #fielderrorAUI("types")
        </div>
    </fieldset>

    $soyTemplateRendererHelper.getRenderedTemplateHtml("confluence.web.resources:shared-templates", "Confluence.Templates.Select.spaceSelectVM.soy",{
        "labelContent":"$i18n.getText('label.spaces')",
        "name":"spaces",
        "id":"spaces",
        "isMultiple":true,
        "errorTexts":$action.fieldErrors.get('spaces'),
        "descriptionText":"$i18n.getText('select.spaces.hint')",
        "noSpaceSelector":false,
        "editMode": $editMode,
        "availableGlobalSpace": $availableGlobalSpaces,
        "favouriteSpaces": $favouriteSpaces,
        "aggregateOptions": $aggregateOptions,
        "omitAggregateOptions":false})
    <div id="advanced_opt">
        <h2>$action.getText("rss.feed.advanced.options")</h2>
        #set($_params = {
            "labelContent":"$i18n.getText('label.name')",
            "name":"title",
            "id":"title",
            "value":$!title,
            "size":"50",
            "type":"#if($!editMode == true)text#{else}value#end",
            "isDisabled":false,
            "errorTexts": $!fieldErrors.get('title')})
        $soyTemplateRendererHelper.getRenderedTemplateHtml(
            "com.atlassian.auiplugin:aui-experimental-soy-templates", "aui.form.field.soy", $_params)
        #set($_params = {
            "labelContent":"$i18n.getText('label.labels')",
            "name":"labelString",
            "id":"labelString",
            "value":$!labelString,
            "size":"50",
            "type":"#if($editMode == true)text#{else}value#end",
            "isDisabled":false,
            "errorTexts": $!fieldErrors.get('labelString')})
        $soyTemplateRendererHelper.getRenderedTemplateHtml(
            "com.atlassian.auiplugin:aui-experimental-soy-templates", "aui.form.field.soy", $_params)

        $soyTemplateRendererHelper.getRenderedTemplateHtml("confluence.web.resources:shared-templates", "Confluence.Templates.Select.spaceSelectVM.soy",{
            "labelContent":"$i18n.getText('label.spaces.exclude')",
            "name":"excludedSpaceKeys",
            "id":"excludedSpaceKeys",
            "isMultiple":true,
            "errorTexts":$action.fieldErrors.get('excludedSpaceKeys'),
            "descriptionText":"$i18n.getText('select.spaces.hint')",
            "noSpaceSelector":true,
            "editMode": $editMode,

        "availableGlobalSpace": $availableGlobalSpaces,
            "favouriteSpaces": $favouriteSpaces,
            "aggregateOptions": $aggregateOptions,
            "omitAggregateOptions":true})

        $soyTemplateRendererHelper.getRenderedTemplateHtml("confluence.web.resources:shared-templates", "Confluence.Templates.Radiolist.auiRadiolist.soy",{
            "labelValue": "$action.getText('label.sort')",
            "editMode": $editMode,
            "name": "sort",
            "value": $sort,
            "list": $rssSorts,
            "listKey": "value",
            "listValue": "key"
        })

        <div class="field-group">
            $soyTemplateRendererHelper.getRenderedTemplateHtml("confluence.web.resources:shared-templates", "Confluence.Templates.Text.textInlineVM.soy",
            { "fieldErrors":$action.fieldErrors.get('maxResults'), "editMode":$editMode, "value": $maxResults, "name": "maxResults", "size": 2, "labelContent":"$action.getText('label.limit.1')", "valueContent":"$action.getText('label.limit.4')"})
        </div>
        <div class="field-group">
            $soyTemplateRendererHelper.getRenderedTemplateHtml("confluence.web.resources:shared-templates", "Confluence.Templates.Text.textInlineVM.soy",
            { "fieldErrors":$action.fieldErrors.get('timeSpan'), "editMode":$editMode, "value": $timeSpan, "name": "timeSpan", "size": 2, "labelContent":"$action.getText('label.limit.2')", "valueContent":"$action.getText('label.limit.3')"})
        </div>

        <div class="field-group">
            <label for="show-1">$action.getText('label.for.pages')</label>
            <input type="checkbox" name="showContent" value="true" id="show-1" checked="checked"/>
        </div>
     </div>
     <div class="field-group">
        <a href="#" id="advanced_opt_link">$action.getText("rss.feed.advanced.options")</a>
     </div>
     #ssubmit("theme='aui'"
              "editMode=true"
              "submitValue=$action.getText('button.create')"
              "cancelValue=$action.getText('cancel.name')")
#end
#end
</html>
