<html>
	<head>
		<title>$action.getText("title.manage.shortcuts")</title>
        <content tag="selectedWebItem">shortcuts</content>
        <content tag="subtitleDescription">manage.shortcuts.subtitle</content>
        <meta name="help-path" content="/admin/help/browseshortcuts.vm"/>
	</head>
	<body>
	    #parse ( "/template/includes/actionerrors.vm" )

    <form id="addShortcut" method="POST" action="createshortcut.action" class="aui long-label">
        #form_xsrfToken()
        <h2>$action.getText("heading.create.shortcut")</h2>
        #set($_params = {
            "labelContent":"$i18n.getText('shortcut.key.name')",
            "name":"key",
            "id":"key",
            "value":$!key,
            "type":"text",
            "errorTexts": $!fieldErrors.get('key'),
            "isDisabled":false})
        $soyTemplateRendererHelper.getRenderedTemplateHtml(
            "com.atlassian.auiplugin:aui-experimental-soy-templates", "aui.form.field.soy", $_params)
        #set($_params = {
            "labelContent":"$i18n.getText('shortcut.expanded.value.name')",
            "name":"shortcutLinkConfig.expandedValue",
            "id":"shortcutLinkConfig.expandedValue",
            "value":$!shortcutLinkConfig.expandedValue,
            "type":"text",
            "errorTexts": $!fieldErrors.get('shortcutLinkConfig.expandedValue'),
            "isDisabled":false})
        $soyTemplateRendererHelper.getRenderedTemplateHtml(
            "com.atlassian.auiplugin:aui-experimental-soy-templates", "aui.form.field.soy", $_params)
        #set($_params = {
            "labelContent":"$i18n.getText('shortcut.default.alias.name')",
            "name":"shortcutLinkConfig.defaultAlias",
            "id":"shortcutLinkConfig.defaultAlias",
            "value":$!shortcutLinkConfig.defaultAlias,
            "type":"text",
            "isDisabled":false})
        $soyTemplateRendererHelper.getRenderedTemplateHtml(
            "com.atlassian.auiplugin:aui-experimental-soy-templates", "aui.form.field.soy", $_params)

        <div class="buttons-container">
            <div class="buttons">
                <input type="submit" id="confirm" class="submit button" name="confirm" value="$action.getText('submit.name')">
            </div>
        </div>

    </form>

    <div id="currentShortcuts">
        <h2 class="aui-style">$action.getText("heading.current.shortcuts")</h2>
        <table class="aui">
            <thead>
                <tr>
                    <th>$action.getText("shortcut.key.name")</th>
                    <th>$action.getText("shortcut.expanded.value.name")</th>
                    <th>$action.getText("shortcut.default.alias.name")</th>
                    <th>$action.getText("heading.operations")</th>
                </tr>
            </thead>
            <tbody>
            #if( !$shortcuts || $shortcuts.size()==0 )
                <td colspan="4">
                    $action.getText("there.are.no.shortcuts")
                </td>
            #else
                #foreach( $shortcut in $shortcuts.entrySet() )
                <tr>
                    <td valign="top">$!htmlUtil.htmlEncode($shortcut.key)</td>
                    <td valign="top">$!htmlUtil.htmlEncode($shortcut.value.expandedValue)</td>
                    <td valign="top">$!htmlUtil.htmlEncode($shortcut.value.defaultAlias)</td>
                    <td align="center" nowrap>
                        <a href="removeshortcut.action?key=$!htmlUtil.urlEncode($shortcut.key)&#url_xsrfToken()">$action.getText("remove.name")</a>
                    </td>
                </tr>
                #end
            #end
            </tbody>
        </table>
    </div>

		#parse("/breadcrumbs.vm")
	</body>
</html>
