{namespace Confluence.Templates.MoveBlogPost}

/**
 * Render the Move Blog Post dialog body
 */
{template .dialogPanel}
<div class="new-space-value">
    <input type="hidden" id="new-space" style="width: 100%"/>
</div>

<div class="move-errors"></div>
{/template}
