{namespace Confluence.Templates}

/**
 * A page loading indicator that provides a blanket and a spinner.
 */
{template .pageLoadingIndicator}
    <div class="confluence-page-loading-errors"></div>
    <div class="confluence-page-loading-blanket aui-blanket" aria-hidden="false">
        <div class="confluence-loading-indicator"></div>
    </div>
{/template}
